.header {
  background-color: #0F110C;
  color: #fff;
  position: relative;
  padding: 0 20px;

  &__control {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 20px 0;
  }

  &__group {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    width: 100%;

    .logo {
      justify-self: center;
      grid-column: 2;
    }
  }

  .searchInput {
    width: 100%;
  }
}

.container {
  max-width: 357px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    max-width: 750px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1110px;
  }

  .header {
    &__control {
      display: grid;
      grid-template-areas: "sidebar logo search menu";
      grid-template-columns: auto 1fr minmax(auto, 230px) auto;
      align-items: center;
      gap: 2rem;
    }

    &__group {
      display: contents;

      .header__darkMobileSidebar {
        grid-area: sidebar;
      }

      .logo {
        grid-area: logo;
        justify-self: start;
        margin-left: -2rem;
      }

      .headerMenu {
        grid-area: menu;
      }
    }

    .searchInput {
      grid-area: search;
      width: auto;
    }
  }
}